.gradient-custom {

  background: #6a11cb;

  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
 
.btn {
  background-color: DodgerBlue; 
  border: none; 
  color: white;
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}


.btn:hover {
  background-color: RoyalBlue;
}

#button1{
display: flex;
justify-content: end;

}
.picture{
  background-image: url('https://i.pinimg.com/originals/22/49/0d/22490db63367ba74ec73e9e913343f09.jpg');
  height: 100%;
  
}